<ion-view view-title="About View">
    <ion-content>
        <div class="legal padding">
            <br/>
            <h2>Over BoatWAY</h2>
            <p>
                Deze app is het resultaat van een afstudeeronderzoek van Christian Vermeulen. Naar aanleiding van het onderzoek wordt deze app ontwikkeld en getest.
            </p>
            <br/>
            <h3 style="color:#fff;">Disclaimer:</h3>
            <br/>
            <p>
                &mdash; Niet all schepen zijn zichtbaar.<br/>
                &mdash; Niet alle schepen geven correcte data door.<br/>
                &mdash; Blijf zelf goed opletten<br/>
                &mdash; Gebruik deze app <strong>niet</strong> voor navigatie.<br/>
            </p>
            <br/>
            <p>
                Je gebruikt <span style="font-weight: bold;">v{{appVersion}}</span>.
            </p>
            <br/>
            <p>
                <a href="#/app/map-view" class="button icon-left ion-chevron-left button-outline button-light">&nbsp;&nbsp;&nbsp;Terug&nbsp;&nbsp;&nbsp;</a>
            </p>
        </div>
    </ion-content>
</ion-view>