<ion-view view-title="Alerts">
  <ion-content>
    <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">
                Achteropkomend
            </div>
            <select>
                <option>5 min</option>
                <option selected>10 min</option>
                <option>15 min</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Vooropkomend
            </div>
            <select>
                <option>5 min</option>
                <option selected>10 min</option>
                <option>15 min</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Contactradius
            </div>
            <select>
                <option>500m</option>
                <option selected>1km</option>
                <option>5km</option>
                <option>15km</option>
            </select>
        </label>
        <ul class="list">
          <li class="item item-toggle">
             Achtergrond Notificaties
             <label class="toggle toggle-positive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>
        <div class="item item-divider">
            Welke types schepen wil je zien?
        </div>
        <ul class="list">

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Sleep Boten
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Hoge Snelheid
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Container
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Tanker
          </li>
        </ul>
    </div>
  </ion-content>
</ion-view>
